.home_page_container {
    position: relative;
    .responsive(margin-top, @header_height, -30);
    width: 100%;
    height: auto;
    overflow: hidden;
}

.caption_block {
    position: relative;
    width: 100%;
    .responsive(padding-top, 50px, 10);
    font-family: "courier new";
    .responsive(font-size, 40px, 10);
    text-align: center;
    color: #c9081b;
    padding-bottom: 20px;
    text-shadow: 0 0 4px grey;


}

.home_block1 {
    position: relative;
    width: 100%;
    height: auto;
    //    .responsive(height, 900px, 30);
    //    background-image: url("@{project_path}/www/res/images/Home/2020-08-06 P4 D4 16-9.jpg");
    background-position: center;
    background-size: cover;
    margin-bottom: 5px;

    .banner_img_21-9,
    .banner_img_4-3 {
        position: relative;
        width: 100%;
    }

    .banner_img_4-3 {
        display: none;
    }

    @media(max-width:500px) {
        .banner_img_4-3 {
            display: block;
        }

        .banner_img_21-9 {
            display: none;
        }
    }

    .changing_message_box {
        bottom: 90%;
        //        font-family: sans-serif;
        font-family: "courier new";
        .responsive(font-size, 40px, 10);
        text-align: center;
        max-width: 80%;
    }

    .changing_message {
        color: #c9081b;
        padding-bottom: 20px;
        text-shadow: 0 0 4px grey;
    }

    .changing_message_underline {
        margin: auto;
        .responsive(width, 200px);
        height: 6px;
        border-radius: 20px;
        background-color: white;
    }

}

//.category_block {
//    position: relative;
//    width: 100%;
//    height: auto;
//    overflow-x: hidden;
//
//    .category_title {
//        position: relative;
//        width: 95%;
//        margin-left: auto;
//        margin-right: auto;
//        .responsive(margin-top, 90px, 30);
//        .responsive(margin-bottom, 90px, 50);
//        .responsive(font-size, 35px);
//        text-align: center;
//        padding-bottom: 20px;
//        //        border-bottom: 2px solid #333;
//        font-family: 'Lato', sans-serif;
//        font-weight: 500;
//
//        //                background-color: red;
//        .title_name {
//            background-color: white;
//            .responsive(padding-left, 20px);
//            .responsive(padding-right, 20px);
//            letter-spacing: 3px;
//
//            @media(max-width:700px) {
//                margin-left: 1px;
//                margin-right: 1px;
//            }
//        }
//
//        .line {
//            height: 3px;
//            background-color: #333;
//            border-radius: 10px;
//            width: 100%;
//            max-width: 900px;
//        }
//    }
//
//    .categories_container {
//        position: relative;
//        //    width: 100%;//LESS async bug
//        height: auto;
//        overflow: hidden;
//        padding-bottom: 30px;
//
//        .category_details_container {
//            position: relative;
//            float: left;
//            width: 300px;
//            max-width: 95%; //LESS async bug
//            height: 350px;
//
//
//            overflow: hidden;
//            //            background-color: gold;
//
//            box-shadow: 0 0 20px -5px grey;
//            margin-top: 25px;
//
//            &:hover {
//                .img_container {
//                    top: -100%;
//                }
//
//                .bottom_elements_container {
//                    padding-top: 70px;
//                    top: 0%;
//                    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
//
//                    .category_type_description {
//                        opacity: 1;
//                    }
//                }
//
//            }
//
//            .img_container {
//                position: relative;
//                left: 0%;
//                top: 0%;
//                background-size: cover;
//                background-position: center;
//                transition: all 0.5s;
//            }
//
//            .bottom_elements_container {
//                position: absolute;
//                width: 100%;
//                height: 100%;
//                top: 80%;
//                padding: 20px 10px;
//                box-sizing: border-box;
//                font-family: sans-serif;
//                background-color: rgba(255, 255, 255, 0.8);
//                transition: all 0.5s;
//                box-shadow: 0 0 10px white;
//
//                .category_type_name {
//                    position: relative;
//                    width: 100%;
//                    color: #171796;
//                    font-size: 24px;
//                    font-weight: 700px;
//                    text-align: center;
//                    text-shadow: 0 0 2 px white;
//
//                }
//
//                .category_type_description {
//                    position: relative;
//                    margin-top: 10px;
//                    color: white;
//                    font-size: 16px;
//                    opacity: 0;
//                    width: 100%;
//                    text-align: center;
//                    transition: all 0.5s;
//                    //                    text-align: justify;
//                    //                    text-justify: inter-word;
//                    //                    background-color: forestgreen;
//                }
//            }
//
//            @media (max-width: 720px) and (orientation:landscape),
//            (max-height: 720px) and (orientation:portrait) {
//                //                    width: 270px;
//                //                    height: 270px;
//            }
//        }
//
//    }
//
//}

.how_it_works_block {
    position: relative;
    width: 100%;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.offers_block {
    position: relative;
    width: 100%;
    height: auto;
    .responsive(height, 600px, 10);
    margin-bottom: 5px;

    //BEGIN image slider
    .image_slides_container {
        width: 100%;
        height: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
        white-space: nowrap;

        .image_slides {
            //        position: relative;
            //        float: left;
            display: inline-block;
            height: 100%;
            width: 100%;
            background-position: center;
            background-size: cover;
        }
    }

    .scroll_prevent_cover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.5);

        .featured_products_button {
            border: 2px solid white;
            padding-top: 20px;
            padding-bottom: 20px;
            .responsive(padding-right, 100px);
            .responsive(padding-left, 100px);
            color: white;
            cursor: pointer;
            font-size: 19px;
            transition: all 0.3s;
            background-color: rgba(0, 0, 0, 0.5);
            font-family: sans-serif;

            &:hover {
                background-color: white;
                color: black;
            }
        }
    }

    .arrows {
        position: absolute;
        display: none;
        top: 50%;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 5px;
        transform: translate(0%, -50%) scale(2.3, 4);
        transition: all 0.3s;
        fill: black;
        cursor: pointer;

        path {
            filter: drop-shadow(0 0 1px white);
            transition: all 0.3s;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
            fill: white;

            path {
                filter: drop-shadow(0 0 1px black);
            }
        }
    }

    .right_arrow {
        transform-origin: right;
        margin-right: 10px;
        right: 0%;
    }

    .left_arrow {
        transform-origin: left;
        margin-left: 10px;
        left: 0%;
    }

    //**END image slider
}
