<style>
	.header{
		position: relative;
		display: grid;
		grid-template-columns: max-content auto 50px;
		width:100%;
		height: 60px;
		background-color: white;
		 box-shadow: 0 0 10px red;
		/*box-shadow: 0 0 50px -15px red;		*/
	}
	.company_logo,.client_logo{
		display: block;
		align-self: center;

	}
	.logout_button_container{
		justify-self:center;
		align-self: center;
		font-size: 20px;
		color: #077ac4;
	}

</style>
<body>
	<div class="header">
		<img class="company_logo" src="images/ekatra_round_logo.png" height="55px" onclick="window.location.href='home.html';">
		<!-- <img class="client_logo" src="images/wwp_logo.png" height="35px;" onclick="window.location.href='home.html';"> -->
		<b style="padding-left: 10px; align-self:center; font-size: 28px; color: #ca0808;">E-MAK</b>
		<div class="logout_button_container"><i class="logout_button fas fa-sign-out-alt"></i></div>
	</div>
	
	<script>
		$("body").on("click",".logout_button",function(){
			$(".ghost,.logout_confirm_box").css("display","block");
		});

		$(".cancel_logout_button").on("click",function(){
  			$(".ghost,.logout_confirm_box").css("display","none");
  		});

  		$(".confirm_logout_button").on("click",function(){
  			$(".ghost,.logout_confirm_box").css("display","none");
  			$(".loading_container").css("display","block");
  			window.localStorage.removeItem('wellworth_app_user_token');
			window.localStorage.removeItem('wellworth_app_user_name');
			window.location.href='index.html';
  		});
	</script>
</body>