<div class="ghost lctc fill" style="position: fixed; background-color: rgba(0,0,0,0.8); display: none; opacity: 0;"></div>
<div class="enq_popup_container">
    <div class="enq">Enquire</div>
    <img class="popup" src="/www/res/images/message3.png">
</div>
<form class="enquiry_form_container" onsubmit="return false;">
    <button class="form_header">Send an enquiry</button><br>
    <div class="enquiry_inputs_container">
        <div class="input_container">
            <button class="input_icon"><i class="fas fa-user"></i>
            </button>
            <input type="text" name="Fullname" class="inputs" placeholder="Name">
        </div><br>
        <div class="input_container">
            <button class="input_icon"><i class="fas fa-venus"></i><i class="fas fa-mars"></i>
            </button>
            <select class="inputs" name="Gender">
                <option value="" style="display: none;">Choose gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div><br>
        <div class="input_container">
            <button class="input_icon"><i class="fas fa-envelope"></i></button>
            <input type="text" name="Email" class="inputs" placeholder="Email">
        </div><br>
        <div class="input_container">
            <button class="input_icon"><i class="fas fa-phone-alt"></i></button>
            <input type="text" name="Phone number" class="inputs" placeholder="Phone Number">
        </div><br>

        <div class="input_container">
            <button class="input_icon" style="font-size: 14px;"><span style="font-size: 16px;"><i class="fas fa-envelope"></i> </span><i class="fas fa-phone-alt"></i></button>
            <select class="inputs" name="Preferred contact method">
                <option value="" style="display: none;">Preferred contact method</option>
                <option value="Phone">Phone</option>
                <option value="Email">Email</option>
            </select>
        </div><br>
        
        <div class="input_container">
            <button class="input_icon" style="font-size: 22px;"><i class="fas fa-language"></i></button>
            <select class="inputs" name="Preferred language">
                <option value="" style="display: none;">Preferred language</option>
                <option value="English">English</option>
                <option value="Hindi">Hindi</option>
                <option value="Malayalam">Malayalam</option>
            </select>
        </div><br>

        <textarea rows="4" class="enquiry_textarea " name="Description" placeholder="Enquire about (Not less than 20 characters)"></textarea>
        <div class="character_count">0</div><br><br>
        <button class="submit">Submit</button>
    </div>
    <button class="close_button"><i class="fas fa-times"></i></button>

    <div class="ghost_form lctc fill" style="position: fixed; background-color: rgba(0,0,0,0.8); display: none;"></div>


    <div class="loading lctc" style="display: none;"><svg width="69px" height="69px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-rolling" style="shape-rendering: auto; animation-play-state: running; animation-delay: 0s;">
            <circle cx="50" cy="50" fill="none" ng-attr-stroke="{{config.color}}" ng-attr-stroke-width="{{config.width}}" ng-attr-r="{{config.radius}}" ng-attr-stroke-dasharray="{{config.dasharray}}" stroke="#6e6e6e" stroke-width="5" r="35" stroke-dasharray="164.93361431346415 56.97787143782138" style="animation-play-state: running; animation-delay: 2s;">
                <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="0.3s" begin="0s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animateTransform>
            </circle>
        </svg>
    </div>


</form>

<div class="alert_box lctc">
    <span class="error_message">please enter</span>
    <button class="close_alert_box"><i class="fas fa-times"></i></button>
</div>

<div class="message_box lctc">
    <img class="tick_image" src="/www/res/images/tick3.png">
    <div class="message"><span class="thanks lc">Thank You!</span><br><br>Enquiry saved successfully.<br>We will get back you soon.</div>
    <button class="ok_button">OK</button>
</div>
