select {
    background-color: white;
    border: none;

    option {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 5px;
    }
}

.enq_popup_container {
    position: fixed;
    right: 1.5%;
    bottom: 10%;
    height: auto;
    background-color: transparent;
    text-align: center;

    .enq {
        position: relative;
        font-size: 20px;
        font-weight: bold;
        color: rgb(110, 77, 68);
        font-family: sans-serif;
    }

    .popup {
        position: relative;
        .responsive(margin-top, 5px);
        width: 75px;
        border-radius: 50px;
        cursor: pointer;
        transition: transform .2s;

        &:hover {
            transform: scale(1.05);
        }
    }
}

@media(max-width: 720px) {
    .enq_popup_container {
        right: 2%;

        .enq {
            font-size: 18px;
        }

        .popup {
            width: 60px;
        }
    }
}

.enquiry_form_container {
    position: fixed;
    display: none;
    opacity: 0;
    width: 500px;
    min-height: 400px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 10px;
    color: black;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px #333;
    overflow: hidden;
    /*        transition: transform .2s;*/

    .form_header {
        position: relative;
        width: 100%;
        height: 80px;
        color: black;
        font-size: 26px;
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
        pointer-events: none;
    }

    .close_button {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 40px;
        width: 40px;
        color: black;
        font-size: 22px;
        font-weight: normal;
        cursor: pointer;
    }

    .enquiry_inputs_container {
        position: relative;
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        .input_container {
            position: relative;
            width: 100%;
            height: 40px;
            overflow: hidden;
            border-bottom: 1px solid #ccc;
            /*        background-color: blue;*/

            .input_icon {
                position: absolute;
                left: 0px;
                width: 50px;
                height: 100%;
                font-size: 20px;
                color: #f21d1d;
                background-color: white;
                pointer-events: none;
            }

            .inputs {
                width: 100%;
                height: 100%;
                padding-left: 60px;
                box-sizing: border-box;

            }
        }

        .enquiry_textarea {
            resize: none;
            width: 100%;
            font-family: sans-serif;
            font-size: 14px;
            padding-left: 10px;
            box-sizing: border-box;
            color: black;
            border: none;
            border-bottom: 1px solid #ccc;
        }

        .character_count {
            position: relative;
            float: left;
            color: grey;
        }

        .submit {
            background-color: #febd69;
            border: none;
            width: 100%;
            height: 50px;
            color: black;
            font-family: sans-serif;
            font-size: 17px;
            cursor: pointer;
            border: 1px solid #febd69;
            border-radius: 5px;

            &:hover {
                background-color: white;
                color: #febd69;
            }
        }
    }
}


@media (max-width: 720px) {
    .enquiry_form_container {
        width: 95%;

        .enquiry_inputs_container {
            .input_container {
                height: 35px;

                .input_icon {
                    width: 40px;
                }

                .inputs {
                    padding-left: 50px;
                }
            }

            .submit {
                height: 40px;
            }
        }
    }
}

.alert_box {
    position: fixed;
    display: none;
    width: 450px;
    max-width: 95%;
    height: auto;
    padding: 30px 10px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: white;
    text-align: center;

    .close_alert_box {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 30px;
        font-size: 22px;
        cursor: pointer;
    }
}

.message_box {
    position: fixed;
    display: none;
    width: 250px;
    height: auto;
    padding: 30px 50px;
    border: 1px solid black;
    background-color: white;
    color: white;
    text-align: center;

    .tick_image {
        position: relative;
        width: 80px;
        //        background-color: green;
    }

    .message {
        position: relative;
        font-weight: 500;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        color: gray;

        .thanks {
            top: 0px;
            color: black;
            font-size: 20px;
        }

    }

    .ok_button {
        position: relative;
        width: 200px;
        height: 30px;
        margin: 10px 0;
        font-family: 'Lato', sans-serif;
        background-color: #46886e;
        border: 1px solid #46886e;
        color: white;
        font-size: 12px;
        font-weight: 600;
        cursor: pointer;

        &:hover {
            background-color: white;
            color: #46886e;
        }
    }
}
