.about_us_page_container {
    position: relative;
    .responsive(margin-top, @header_height);
    width: 100%;
    height: auto;
    overflow: hidden;
    //    background-color: black;

}

/** BEGIN About us image block**/
.about_us_image_block {
    position: relative;
    width: 100%;
    .responsive(height, 460px);
    background-image: url('@{project_path}/www/res/images/about_us/about_us.jpg');
    background-position: center;
    background-size: cover;

    .about_us_head {
        color: white;
        .responsive(font-size, 30px);
        font-family: 'Lato', sans-serif;
        letter-spacing: 1px;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
    }

    .ghost_image {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }



}

/** END About us image block**/

.count_block {
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: auto;
    text-align: center;
    //    border: 1px solid black;

    .db_data_table {
        position: relative;
        //        .responsive(margin-top, 150px);
        margin-left: auto;
        margin-right: auto;
        width: 90%;

        td {
            width: 100%/3;
        }

        tr:nth-child(2) {
            .responsive(font-size, 40px);
            color: @c1-dark;

            td {
                .responsive(padding-top, 30px);
            }
        }

        tr:nth-child(3) {
            .responsive(font-size, 20px);
            color: @c1;
        }


        * {
            .no_select();
        }

        .db_data_icon {
            .responsive(height, 80px, -15);
        }
    }


}


/** BEGIN Brands block**/
.brands_block {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 20px;
    //    background-color: darkgoldenrod;
    text-align: center;

    .our_brands {
        position: relative;
        width: 65%;
        max-width: 1000px;
        margin: 50px auto;
        font-size: 28px;
        text-align: center;
        padding-bottom: 20px;
        border-bottom: 2px solid #555;
        font-family: 'Avenir NextLTPro Light', sans-serif;
        color: #444;
        letter-spacing: 2px;
    }

    .brands_container {
        position: relative;
        display: inline-block;
        width: 100%;
        max-width: 1300px;
        margin-top: 10px;
        padding-bottom: 20px;
        overflow-y: hidden;
        overflow-x: scroll;
        white-space: nowrap;
        //        background-color: aqua;

        .brand_details_container {
            position: relative;
            display: inline-block;
            //            width: 230px;
            height: 280px;
            margin: 10px 10px;
            background-color: white;
            font-family: Montserrat, sans-serif;
            overflow: hidden;
            box-shadow: 0 0 5px lightgrey;
            transition: all 0.3s;

            &:hover {
                transform: scale(1.025);
                box-shadow: 0 0 5px grey;
            }

            .brand_logo {
                position: absolute;
                top: 30px;
                width: 60%;

            }

            .bottom_elements_container {
                position: absolute;
                width: 100%;
                bottom: 20px;

                .brand_name {
                    position: relative;
                    width: 100%;
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: 700px;
                    text-align: center;

                }

                .brand_caption {
                    position: relative;
                    width: 100%;
                    font-size: 12px;
                    color: #58595b;
                    text-align: center;
                    //                    text-align: justify;
                    //                    text-justify: inter-word;
                    //                    background-color: forestgreen;
                }
            }

        }


    }

}

/** BEGIN Why Timefitness block**/
.why_timefitness_block {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    //        background-color: burlywood;

    .why_timefitness_title {
        position: relative;
        width: 65%;
        max-width: 1000px;
        margin: 20px auto;
        border-bottom: 2px solid #333;
        font-size: 28px;
        text-align: center;
        padding-bottom: 20px;
        border-bottom: 2px solid #555;
        font-family: 'Avenir NextLTPro Light', sans-serif;
        color: #444;
        letter-spacing: 2px;
    }

    .why_elements_container {
        position: relative;
        display: inline-block;
        margin-top: 30px;
        width: 100%;
        max-width: 1300px;
        height: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
        white-space: nowrap;
        //                background-color: transparent;

        .why_element {
            position: relative;
            display: inline-block;
            margin: 10px 30px;
            width: 170px;
            height: 250px;
            overflow: hidden;
            //            background-color: gray;

            .why_image {
                position: absolute;
                width: 70%;
            }

            .why_element_details {
                position: absolute;
                top: 110px;
                width: 100%;
                text-align: center;
                white-space: normal;
                //                background-color: black;

                .why_element_title {
                    position: relative;
                    width: 100%;
                    font-size: 16px;
                    font-weight: 700px;
                    text-align: center;
                    font-family: 'Avenir NextLTPro Bold', sans-serif;
                    color: black;
                    //                    background-color: yellow;
                }

                .why_element_description {
                    position: relative;
                    height: 50px;
                    width: 100%;
                    padding-top: 10px;
                    box-sizing: border-box;
                    font-size: 14px;
                    color: #333;
                    text-align: center;
                    //                    background-color: darkcyan;
                }
            }
        }
    }
}

/** END Why Timefitness block**/
