.how_to_purchase_container {
    position: relative;
    width: 100%;
    overflow: hidden;
    //    height: 500px;
    font-family: "Lato", sans-serif;
    //    background-color: black;

    .how_title {
        position: relative;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        .responsive(margin-top, 90px, 20);
        .responsive(margin-bottom, 90px, 20);
        .responsive(font-size, 38px, 10);
        text-align: center;
        padding-bottom: 20px;
        //        border-bottom: 2px solid #333;
        font-family: 'Lato', sans-serif;
        font-weight: 500;

        //                background-color: red;
        .title_name {
            background-color: white;
            .responsive(padding-left, 20px);
            .responsive(padding-right, 20px);
            letter-spacing: 3px;

            @media(max-width:700px) {
                margin-left: 1px;
                margin-right: 1px;
            }
        }

        .line {
            height: 3px;
            background-color: #333;
            border-radius: 10px;
            width: 100%;
            max-width: 900px;
        }
    }

    .content_container {
        position: relative;
        margin-top: 4%;
        width: 100%;
        height: auto;
        overflow: hidden;

        .single_content_container {
            position: relative;
            float: left;
            width: 33.33%;
            height: auto;
            text-align: center;
            overflow: hidden;

            .single_content_image {
                position: relative;
                width: 30%;

            }

            .single_content_bottom_container {
                position: relative;
                display: inline-block;
                width: 80%;
                height: auto;
                text-align: center;
                //                background-color: blue;

                .single_content_title {
                    position: relative;
                    display: inline-block;
                    .responsive(font-size, 22px);
                    padding-bottom: 5px;
                    font-weight: 600;
                    color: #036c66;
                }

                .single_content_description {
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    height: auto;
                    .responsive(font-size, 19px);
                    color: black;

                }
            }

            @media(max-width:720px) {
                float: none;
                text-align: left;
                width: 100%;
                height: auto;
                margin-top: 10px;

                .single_content_image {
                    float: left;
                    width: 20%;
                }

                .single_content_bottom_container {
                    float: left;
                    width: 79%;
                    padding-left: 10px;
                    box-sizing: border-box;
                    text-align: left;

                    single_content_title {
                        padding-bottom: 0px;
                    }

                    .single_content_description {
                        text-align: left;
                    }
                }
            }

        }
    }
}
