body{
    margin: 0px;
    font-family: "Lato",sans-serif;

}
input,select{
    outline: 0;
    border: none;
    /*padding: 0px;*/
    width: 100%;
    background-color: white;
}
input[type='radio'],input[type='checkbox']{
    /*display:none;*/
}
textarea{
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-family: "Lato",sans-serif;
    resize: none;
}

button{
    border:none;
    background-color: transparent;
}
.lctc{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*Custom DOM Elements*/
.custom_select_box_container {
    overflow: hidden;
}

.custom_select_box_container * {
    font-family: sans-serif;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;/
}

.custom_select_box_container .current_selection {
    display: grid;
    grid-template-columns: auto 30px;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px 10px;
    box-sizing: border-box;
}

.custom_select_box_container .arrow {
    text-align: center;
    transition: 0.5s all;
}

.custom_select_box_container .custom_select_box {
    position: fixed;
    z-index: 2020;
    max-height:300px;
    visibility: hidden;
    opacity: 0;
    margin-top: 2px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px #888888;
    transition:opacity 0.3s;
    overflow-y: scroll;
}

.custom_select_box_container .custom_option {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 500;
    transition: 0.3s all;
    cursor: pointer;
    color: black;
}

.custom_select_box_container .custom_option:not(:last-child) {
    border-bottom: 1px solid blue;
}

.custom_select_box_container .custom_option:hover {
    background-color: blue;
    color: white
}

/*BEGIN select_box Theme 1*/
.select1:focus {
    background-color: red;
}

.select1 .custom_select_box {
    background-color: lightblue;
}

.select1 .custom_option:not(:last-child) {
    border-bottom: 1px solid blue;
}

.select1 .custom_option:hover {
    background-color: blue;
    color: white
}

/***END select_box Theme 1*/

/*BEGIN select_box Theme 2*/
.select2:focus {
    box-shadow: 0 0 2px 1px blue;
}

.select2 .custom_select_box {
    /*        background-color: lightblue;*/
}

.select2 .custom_option:not(:last-child) {
    border-bottom: none;
}

.select2 .custom_option:hover {
    background-color: blue;
    color: white
}

/***END select_box Theme 2*/

/*BEGIN select_box Theme 3*/
.select3{
    border-radius: 0px;
}
.select3:focus {
    outline: none;
    box-shadow: 0 0 2px 1px  #4cc14c;
    /*background-color:  #4cc14c;*/
    /*color: white;*/
}

.select3 .custom_select_box {
   border-radius: 0px 0px 5px 5px;
}

.select3 .current_selection{
    padding: 0px;
}

.select3 .custom_option{
    color: #444;
}
.select3 .custom_option:not(:last-child) {
    border-bottom: none;
}

.select3 .custom_option:hover {
    background-color: #3d912b;
    color: white
}

/***END select_box Theme 3*/

/*BEGIN select_box Theme 4*/
.select4 .current_selection{
    grid-template-columns: auto 20px;
}

/***END select_box Theme 4*/


