<div class="account_page_container lc" style="width: 100%;">
    <!--
    <div class="top_buttons_container" style="width: 100%;">
        <div class="orders top_big_buttons" style="width: 150px;">
            <button><img src="/www/res/images/options_ham.png"></button>
            <button class="fill">Orders</button>
        </div>
        <div class="logout top_big_buttons" style="width: 150px;">
            <button><img src="/www/res/images/account/logout.png"></button>
            <button>Logout</button>
        </div>
    </div>
-->
    <div class="profile_details_container form1">
        <button class="form_title">Personel information</button>
        <div class="input_container">
            <input type="text" value="Arjun Chanduvely">
            <div class="input_label">Fullname</div>
        </div>
        <br>
        <div class="input_container" style="height: 53px;">
            <button style="margin-left: 20px;">Male</button>
            <button style="margin-right: 20px;"><input type="radio" name="gender" value="Male"></button>
            <button>Female</button>
            <button style="margin-right: 10px;"><input type="radio" name="gender" value="Female"></button>
            <div class="input_label">Your gender</div>
        </div>
    </div>
    <div class="profile_details_container form1">
        <button class="form_title">Address</button>
        <div class="input_container">
            <input type="text" value="688534">
            <div class="input_label">Pincode</div>
        </div>
        <br>
        <div class="input_container">
            <input type="text" value="Kerala">
            <div class="input_label">State</div>
        </div>
        <br>
        <div class="input_container">
            <input type="text" value="Alappuzha">
            <div class="input_label">District</div>
        </div>
        <br>
        <div class="input_container">
            <textarea></textarea>
            <div class="input_label">Address<br>(House,Area,Street)</div>
        </div>
        <br>
    </div>
    <div class="profile_details_container form1">
        <button class="form_title">Account related</button>
        <div class="input_container">
            <input type="text" value="arjunchanduvely001@gmail.com">
            <div class="input_label">Email</div>
        </div>
        <br>
        <div class="input_container">
            <input type="text" value="8281664587">
            <div class="input_label">Phone number</div>
        </div>

    </div>
</div>
