top: 0%;
width: 100%;

.header_module_container {
    position: fixed;
    width: 100%;
    .responsive(height, @header_height, -30);
    box-shadow: 0 0 50px -15px white;
    //    box-shadow: 0 0 1px white;
    background-color: #131921;
    top: 0%;
    left: 0%;
}

.header_block {
    position: absolute;
    bottom: 0%;
    height: 95%;
    width: 100%;
    box-sizing: border-box;

    //    overflow: hidden;
    background-color: #131921;


    .logo_name_search_grid_container {
        position: relative;
        height: 65%;
        width: 100%;
        //        color: white;
        //        overflow: hidden;
        display: grid;
        grid-template-columns: max-content max-content auto;
        padding: 0 10px;
        box-sizing: border-box;
        //        background-color: red;

        .grid-item {
            height: 100%;
        }

        .logo {
            overflow: hidden;
            cursor: pointer;

            img {
                height: 85%;
            }
        }

        .company_name {
            color: #ff9b19;
            .responsive(font-size, 30px);
            font-family: 'Lato', sans-serif;
            font-weight: 500;
            letter-spacing: 5px;
            cursor: pointer;
            padding: 0 10px;
            box-sizing: border-box;
        }

    }


    .search_block {
        position: relative;
        height: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        .responsive(padding-left, 150px, 40);
        .responsive(padding-right, 150px, 40);
        box-sizing: border-box;

        .search_container {
            position: relative;
            width: 100%;
            //            max-width: 95%;
            margin-left: auto;
            margin-right: auto;
            height: 100%;
            //            border: 2px solid #ff9b19;

            border-radius: 5px;
            background-color: white;

            //            overflow: hidden;
            input {
                position: absolute;
                left: 0px;
                width: 100%;
                height: 100%;
                color: #333;
                padding-left: 10px;
                .responsive(padding-right, 70px, -20);
                box-sizing: border-box;
                //        text-align: left;

            }

            .search_button {
                position: absolute;
                right: 0px;
                .responsive(width, 60px, -20);
                height: 100%;
                //            border-left: 1px solid #333;
                border-radius: 0px 5px 5px 0px;
                background-color: #febd69;
                .responsive(font-size, 23px, -25);
                color: black;
                cursor: pointer;
            }

            .suggestions_container {
                //table
                position: absolute;
                display: none;
                z-index: 2020;
                top: 100%;
                margin-top: 0.5mm;
                width: 100%;
                height: auto;
                border-radius: 5px;
                background-color: white;
                box-shadow: 0 0 5px grey;
                font-family: sans-serif;
                overflow: hidden;
                border-collapse: collapse;

                tr {
                    transition: 0.1s all;
                    cursor: pointer;

                    &:hover {
                        background-color: #eee;
                        transform: scale(1.01);
                    }

                    img {
                        height: 100%;
                    }
                }

                tr:not(:last-child) {
                    border-bottom: dashed 1px grey;
                }

                td {
                    text-align: center;
                    vertical-align: middle;
                    height: 50px;
                }
            }
        }
    }


    .links_container {
        position: relative;
        height: 35%;
        width: 100%;
        background-color: #232f3e;
        color: white;
        overflow: hidden;

        td {
            text-align: center;
            cursor: pointer;
            transition: all 0.3s;
            font-family: sans-serif;
            letter-spacing: 5px;
            .responsive(font-size, 15px, -10);

            &:hover {
                background-color: white;
                color: #232f3e;
            }
        }

    }

    .ham {
        position: absolute;
        top: 5px;
        right: 15px;
        height: 23%;
        display: none;
        transition: all 0.3s;
        cursor: pointer;
    }




    @media (max-width:800px) {

        .ham {
            display: block;
        }

        .logo_name_search_grid_container {
            display: block;
            text-align: left;
            height: 100%;
            grid-template-columns: none;

            .logo,
            .company_name {
                position: relative;
                vertical-align: middle;
                //                background-color: yellow;
                padding: 0px;
                letter-spacing: 3px;
                height: 52%;

                img {
                    height: 100%;
                }
            }

            .search_block {
                padding: 0px;
                padding-top: 3px;
                padding-bottom: 3px;
                height: 45%;
                width: 100%;
                display: inline-block;
            }
        }

        .links_container {
            display: none;
        }
    }
}
