@font-face {
    font-family: myFirstFont;
    src: url('@{project_path}/www/res/fonts/sansation_light.woff');
}

.footer_container {
    position: relative;
    width: 100%;
    //    margin-bottom: 0px;
    height: auto;
    background-color: #231f20;
    overflow: hidden;
    //    padding-bottom: 10px;

}

.block1 {
    position: relative;
    float: left;
    width: 50%;
    height: auto;
    color: white;


    .logo_social_container {
        position: relative;
        margin-top: 20px;
        width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        //        background-color: aqua;
        text-align: center;

        .logo_name_container {
            position: relative;
            display: inline-block;
            width: auto;
            height: 70px;
            overflow: hidden;
            //            background-color: aqua;

            > button {
                height: 100%;
                float: left;
                //                background-color: rebeccapurple;
                @media(max-width:300px) {
                float: none;
            }
            }

            .logo {
                position: relative;
                .responsive(width, 60px, -30);
                opacity: 0.5;

            }

            .company_name {
                position: relative;
                .responsive(margin-left, 10px);
                color: #9b8e8e;
                text-shadow: 0 0 0.25px white;
                .responsive(font-size, 30px, -10);
                font-family: 'Lato', sans-serif;
                font-weight: 500;
                letter-spacing: 5px;
            }

            @media(max-width:300px) {
                height: auto;
                text-align: center;
            }
        }


        .social_container {
            position: relative;
            display: inline-block;
            margin-top: 20px;
            overflow: hidden;
            //            background-color: darkgrey;

            .social_icon {
                position: relative;
                display: inline-block;
                height: 35px;
                .responsive(margin-left, 10px, -5);
                .responsive(margin-right, 10px, -5);
                cursor: pointer;
                opacity: 0.5;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    @media (max-width: 720px) {
        width: 100%;
        text-align: center;
    }
}


.block2 {
    position: relative;
    float: left;
    width: 50%;
    height: auto;
    color: white;

    .office_address_container {
        position: relative;
        width: 100%;
        height: auto;
        //        text-align: left;
        //        background-color: brown;


        .corporate_office {
            position: relative;
            display: inline-block;
            margin-top: 30px;
            color: #c6c0c0;
            .responsive(font-size, 26px, -20);
            font-weight: 700;
            padding-bottom: 15px;
            box-sizing: border-box;
            border-bottom: 4px solid grey;
            font-family: 'Lato', sans-serif;
            //            background-color: aqua;

        }

        .address {
            position: relative;
            display: inline-block;
            margin-top: 10px;
            padding-bottom: 5px;
            box-sizing: border-box;
            color: #c6c0c0;
            line-height: 22px;
            .responsive(font-size, 16px, -20);
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            text-align: left;
            //            background-color: cadetblue;

        }


    }

    @media (max-width: 720px) {
        width: 100%;
        text-align: center;
    }
}

.bottom_container {
    position: relative;
    width: 100%;
    .responsive(height, 60px);
    background-color: black;

    .copyright {
        color: #c6c0c0;
        font-size: 14px;
    }
}
