<div class="view_product_page_container" style="opacity: 0;">
    <div class="product_info_top_container" style="display: none;">
        <div class="block1">
            <img class="product_image" oncontextmenu="return false;" ondragstart="return false;">
        </div>
        <div class="block2">
            <img src="" class="product_brand">
            <div class="product_name"> BT 6441 T100</div>
            <div class="product_type"></div>
            <div class="MRP">Rs. 199/-</div>
            <div class="offer_price">Rs. 99/-</div>
            <div class="off_percentage">5% Off</div><br>
            <div class="stock">stok.</div>

            <div class="highlights_container">
                <div class="single_highlight_container">
                    <img class="highlight_image" src='/www/res/images/product/warranty.svg'>
                    <div class="highlight_content">
                        <span class="highlight_title">Tye</span><br>
                        <span class="highlight_value">Commercial </span>
                    </div>
                </div>

            </div>
            <div class="button_container">
                <a onclick="window.open('tel:+91-9446795555')" rel="nofollow">
                    <button class="call_now"><i class="fas fa-phone-alt"></i> Call Now</button>
                </a>
                <button class="send_enquiry"><i class="fas fa-envelope"></i> Send Enquiry</button>
            </div>
        </div>
    </div>
    <div class="specifications_container content_container">
        <button class="specifications_title content_title">Specifications</button>
        <table class="specifications_table content_table">
            <!--
            <tr class="table_row">
                <td class="option">Motor Power</td>
                <td class="value"> AC 4.0 HP Continous, 8.0 HP Peak</td>
            </tr>
-->
        </table>
    </div> 
    
    <div class="other_features_container content_container">
        <button class="other_features_title content_title">Other features</button>
        <table class="other_features_table content_table">
            <!--
            <tr class="table_row">
                <td class="option">Motor Power</td>
                <td class="value"> AC 4.0 HP Continous, 8.0 HP Peak</td>
            </tr>
-->
        </table>
    </div>

    <div class="ghost fill lctc" style="z-index: 2020;"></div>
    <div class="product_enquiry_popup lctc" style="z-index: 2020;">

        <button class="product_image_block">
            <img class="selected_product_image" src="" oncontextmenu="return false;" ondragstart="return false;">
        </button>
        <form class="product_enquiry_form" onsubmit="return false;">

            <div class="enquiry_inputs_container">
                <div class="input_container">
                    <button class="input_icon"><i class="fas fa-shopping-cart"></i></button>
                    <input type="text" name="prod_name" class="inputs selected_product_name" disabled>
                </div><br>
                <div class="input_container">
                    <button class="input_icon"><i class="fas fa-user"></i>
                    </button>
                    <input type="text" name="Customer name" class="inputs" placeholder="*Name" pattern="[a-zA-Z]+[a-zA-Z ]+" oninvalid="this.setCustomValidity('Enter your fullname')" oninput="this.setCustomValidity('')" required>
                </div><br>
                <div class="input_container">
                    <button class="input_icon"><i class="fas fa-venus-mars"></i>
                    </button>
                    <select class="inputs" name="Gender" required>
                        <option value="" style="display: none;"><span>Choose gender</span></option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div><br>

                <div class="input_container">
                    <button class="input_icon"><i class="fas fa-phone-alt"></i></button>
                    <input type="text" name="Phone number" class="inputs" placeholder="*Phone Number" pattern="[0-9]{10}" oninvalid="this.setCustomValidity('Enter 10 digit phone number')" oninput="this.setCustomValidity('')" required>
                </div><br>

                <div class="input_container">
                    <button class="input_icon" style="font-size: 22px;"><i class="fas fa-language"></i></button>
                    <select class="inputs" name="Preferred language" required>
                        <option value="" style="display: none;">Preferred language</option>
                        <option value="English">English</option>
                        <option value="Hindi">Hindi</option>
                        <option value="Malayalam">Malayalam</option>
                    </select>
                </div><br>

                <textarea rows="4" class="enquiry_textarea " name="Description" placeholder="*Additional information"></textarea>
                <div class="character_count">0</div><br><br>
                <button class="submit_button">Submit</button>
            </div>

        </form>

        <button class="form_header">Enquiry about product</button>
        <button class="close_button"><i class="fas fa-times"></i></button>

        <div class="loading lctc" style="display: none;"><svg width="69px" height="69px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-rolling" style="shape-rendering: auto; animation-play-state: running; animation-delay: 0s;">
                <circle cx="50" cy="50" fill="none" ng-attr-stroke="{{config.color}}" ng-attr-stroke-width="{{config.width}}" ng-attr-r="{{config.radius}}" ng-attr-stroke-dasharray="{{config.dasharray}}" stroke="#6e6e6e" stroke-width="5" r="35" stroke-dasharray="164.93361431346415 56.97787143782138" style="animation-play-state: running; animation-delay: 2s;">
                    <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="0.3s" begin="0s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animateTransform>
                </circle>
            </svg>
        </div>
    </div>

    <div class="message_box lctc" style="z-index: 2020;">
        <img class="tick_image" src="/www/res/images/tick3.png">
        <div class="message"><span class="thanks lc">Thank You!</span><br><br>Enquiry saved successfully.<br>We will get back to you soon.</div>
        <button class="ok_button">OK</button>
    </div>


</div>
<div class="loading lctc" style="display: none;"><svg width="69px" height="69px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-rolling" style="shape-rendering: auto; animation-play-state: running; animation-delay: 0s;">
        <circle cx="50" cy="50" fill="none" ng-attr-stroke="{{config.color}}" ng-attr-stroke-width="{{config.width}}" ng-attr-r="{{config.radius}}" ng-attr-stroke-dasharray="{{config.dasharray}}" stroke="#6e6e6e" stroke-width="5" r="35" stroke-dasharray="164.93361431346415 56.97787143782138" style="animation-play-state: running; animation-delay: 2s;">
            <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="0.3s" begin="0s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animateTransform>
        </circle>
    </svg>
</div>
