.login_container {
    display: none;
    overflow: hidden;
    //    .responsive(height, 400px,15);
    height: auto;
    padding: 30px;
    .responsive(width, 600px, 15);
    text-align: center;
    background-color: white;
    //    border-radius: 10px;
    font-family: sans-serif;
    color: @c1;
    border: 1px solid black;

    .close_button {
        position: absolute;
        width: 20px;
        top: 0%;
        right: 0%;
        margin: 10px;
        cursor: pointer;
    }

    input {
        border: 1px solid grey;
        padding-left: 30px;
        width: 90%;
        height: 50px;
        margin: 0px;
        color: black;
        box-sizing: border-box;
    }

    .wrong_credentials_message,
    .credentials_exist_meassage {
        display: none;
        margin-bottom: 5px;
        color: red;
    }

    .log_in_button,
    .sign_up_button {
        padding: 15px;
        width: 50%;
        font-size: 17px;
    }

    .instead_buttons {
        cursor: pointer;
        font-size: 18px;

        //        font-family: sans-serif;
        &:hover {
            text-decoration: underline;
            text-shadow: 0 0 1px black;
        }
    }
}
